:root {
  --lime: #B3BB1A;
  --mint: #588103;
  /**
  * site header variables
  */
  --site-header-background-color: var(--mint);
  /**
  * site footer variables
  */
  --site-footer-background-color: #333;
  --site-footer-text-color: #c0c0c0;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /**background: linear-gradient(var(--lime), var(--mint));*/
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 1.2em;
}

/**
* container needs 
*   .container_header
*   .container_main
*   .container_footer
*/
.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container_main {
  flex: 1;
}